<h1>You're In <%= cookies[:username] %>!</h1>

<h2>Here's your username. We love you.</h2>
<%=cookies[:username]%>


<!-- <%=cookies[:state]%>
<%=cookies[:city]%>
<%=cookies[:address]%>
<%=cookies[:country]%>
<%=cookies[:username]%> -->
